@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

/* * - all elements*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(234, 204, 165);
}

.container {
    border: ;
    height: 100vh;
    width: 75%;
}

.title-container h1 {
    font-family: 'Koulen', cursive;
    text-align: center;
    font-weight: ;
    font-size: ;
}

.description-container {
    padding: 0 1rem;
}

.description-container p {
    text-align: center;
    color: #333;
    letter-spacing: 0.1rem;
    line-height: 1.8rem;
}

img {
    width:;
}

.table-container {
    width: 75%;
    margin: 3rem auto;
}

ul {
    list-style: none;
}

#td-method {
    padding-left: 3rem;
}

#td-method ul li:first-child {
    margin-top: 1.5rem;
}

#td-method ul li {
    margin-bottom: 2rem;
}

#td-method ul li span {
    font-weight: bold;
    text-transform: uppercase;
    font-size: ;
}
#td-ingredients {
    text-align: right;
    padding-right: ;
}
#td-ingredients ul li:first-child {
    margin-top: 0.8rem;
}

#td-ingredients ul li {
    margin-bottom: 0.8rem;
}

.footer {
    padding-bottom: 3rem;
}
.footer ul {
width: 50%;
margin: 0 auto;
text-align: center;
}

.footer ul li {
    display: inline-block;
}

.footer ul li:first-child {
    margin-right: 5rem;
}

.footer ul li:last-child {
    margin-left: 5rem;
}


.footer ul li a {
    color: #777;
    font-size: 3rem;
}